.series {
    display: grid;
    gap: 2rem;
    list-style: none !important;
    padding-left: 0 !important;
}

@media screen and (min-width: 550px) {
    .series {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1000px) {
    .series {
        grid-template-columns: repeat(4, 1fr);
    }
}

.serie {
    /* margin-bottom: 2rem; */
    /* text-align: center; */
}
.serie-img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 310px;
}
.serie-ttl {
    text-align: center;
}
.serie-lnk {
    color: var(--black);
}

.text-list {
    list-style: none !important;
    padding-left: 0 !important;
}
.text-list-item {
    display: inline;
}
.text-list-item:not(:last-child)::after {
    content: ", ";
}